.full-tp-home{
    background-color: #fff;
    min-height: 100vh;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.full-tp-home-mob{
    background-color: #fff;
    min-height: 100vh;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.home-of-top{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-of-top>h1{
    font-size: 48px;
    /* line-height: 52px; */
    letter-spacing: -1px;
    font-weight: 600;
}
.home-of-top>p{
    font-size: 27px;
    /* line-height: 32px; */
}
.see-more-tag{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 16px;
    cursor: pointer;
    color: #000;
}
.arr-ani{
    font-size: 30px;
    line-height: 46%;
}
.arr-ani:nth-child(1){
    animation: animate-arrow-3 1s ease-in-out infinite 0.2s;
}
.arr-ani:nth-child(2){
    animation: animate-arrow-2 1s ease-in-out infinite 0.1s;
}
.arr-ani:nth-child(3){
    animation: animate-arrow-1 1s ease-in-out infinite;
}
@keyframes animate-arrow-1 {
    0%{transform:translateY(-40px);opacity: 0;}
    70%,100%{transform:translateY(0px);opacity: 1;}
}
@keyframes animate-arrow-2 {
    0%{transform:translateY(-20px);opacity: 0;}
    70%,100%{transform:translateY(0px);opacity: 0.5;}
}
@keyframes animate-arrow-3 {
    0%{transform:translateY(-10px);opacity: 0;}
    70%,100%{transform:translateY(0px);opacity: 0.3;}
}
/* .hm-bt-img{
    height: 450px;
}
.hm-bt-img>img{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    height: 450px;
} */
.comm-cur{
    padding: 100px 32px;
    display: flex;
    align-items: center;
}
.comm-cur>div{
    flex: 1 1 50%;
    max-width: 50%;
}
.com-left-cur{
    padding-right: 42px;
}
.com-left-cur>small{
    color: #9aa8bd;
}
.com-left-cur>h2{
    max-width: 400px;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
}
.com-left-cur>p{
    color: #b7b7b7;
    font-size: 18px;
    line-height: 28px;
}
.eng-at{
    background-color: #186AB4;
    padding: 100px 32px;
}
.eng-at-cous{
    display: flex;
    align-items: center;
}
.eng-at-right-cous, .eng-at-left-cous{
    flex: 1 1 50%;
    max-width: 50%;
}
.eng-at-right-cous{
    padding-left: 42px;
}
.eng-at-right-cous>small{
    color: #9aa8bd;
}
.eng-at-right-cous>h2{
    color: #fff;
    /* max-width: 400px; */
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
}
.newhover:hover{
    transform: scale(1.1);
}
.newhover{
    /* transition-duration: 0.3s; */
    transition: transform 1s;
}
.eng-at-right-cous>p{
    color: #b7b7b7;
    font-size: 18px;
    line-height: 28px;
}
.full-vr-sel-fix{
    position: fixed;
    top: 0;
    z-index: 1030;
    width: 100%;
    padding: 2rem 2rem 2rem 4.6rem;
    background-color: #fff;
    min-height: 100vh;
    animation: openMenu 0.4s ease-out forwards;
    color: #000;
}
@keyframes openMenu {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0);   }
}
.ver-sel-menu{
    margin-top: 6%;
}
.ver-sel-menu>div{
    display: flex;
    align-items: center;
    margin-top: 4%;
    cursor: pointer;
}
.ver-sel-menu>div>p{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 0 1rem;
}
.close-ver-sel{
    width: 100%;
    display: flex;
}
.close-ver-sel>i{
    margin-left: auto;
    font-size: 2rem;
    cursor: pointer;
}
.w-resp-bt{
    min-width: 160px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mob-bt-tg{
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
.mob-bt-tg>p{
    margin: 0;
}
.theclr{
    color: #5F6163;
}
.thebtm-font{
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
}
@media only screen and (min-width: 1040px){
    .home-of-top>h1{
        font-size: calc(30px + 1.5vw);
    }
    .home-of-top>p{
        font-size: calc(30px + 0.5vw);
    }
    .w-resp-bt{
        min-width: 220px;
    }
}
@media only screen and (max-width: 768px){
    .comm-cur, .eng-at-cous{
        display: block;
    }
    .comm-cur>div, .eng-at-right-cous, .eng-at-left-cous{
        flex: 1 1 100%;
        max-width: 100%;
    }
    .com-left-cur{
        padding: 0;
    }
    .eng-at-right-cous{
        padding: 0;
    }
    .full-tp-home{
        display: none;
    } .w-resp-bt{
        min-width: 180px;
    }
}
@media only screen and (min-width: 769px){
    .full-tp-home-mob{
        display: none;
    }   
}