.navstyle{
    min-height: 88px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0;
}
.navclr{
    color: #5F6163 !important;
    cursor: pointer;
}
.thebox{
    margin-left: auto;
    margin-right: auto;
    width:150px;
    height:35px;
    padding-top: 7px !important;
    padding-right: 33px !important;
}
.navstyle .nav-link{
    color: #000;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px 36px !important;
}
.nav-d-menu{
    width: 100%;
    padding: 1rem 0.5rem;
    display: flex;
}
.brand-desk{
    /* width: 3rem; */
    color: #fff !important;
}
.navstyle .navbar-toggler{
    color: #fff;
    border-color: #fff;
    /* margin-left: auto; */
}
.Pord-menu-one .dropdown-menu{
    width: 100%;
    min-width: 700px;
    padding: 0;
    border-radius: 0;
    left: -100%;
}
.Sol-menu-two .dropdown-menu{
    width: 100%;
    min-width: 400px;
    padding: 0;
    border-radius: 0;
}
.Dev-menu-three .dropdown-menu{
    width: 100%;
    min-width: 400px;
    padding: 0;
    border-radius: 0;
}
.Com-menu-last .dropdown-menu{
    width: 100%;
    min-width: 160px;
    padding: 0;
    border-radius: 0;
}
.menu-sm-heads{
    color: #48578c;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 4px;
}
.menu-sm-paras{
    color: #687992;
    line-height: 20px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
}
.mn-left-hlf, .mn-right-hlf {
    flex: 1 1 50%;
    max-width: 50%;
    min-width: 175px;
    cursor: pointer;
}
.in-rt-mn-word{
    color: #48578c;
    font-size: 16px;
    font-weight: 600;
    margin: 2px 0px;
    padding: 8px 0px 12px;
    cursor: pointer;
}
.in-rt-mn-word:hover{
    color: #329df3;
}
.mn-left-hlf:hover > div > .menu-sm-heads, .mn-right-hlf:hover > div > .menu-sm-heads{
    color: #329df3;
}
.tp-sm-nav{
    background-color: #000;
}
.tog-n-cols{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
.pic {
    margin: 10px;/* demo spacing */
    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0; 
  }
.arrow-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #737373;
  }

.app-store{
    font-weight: 600;
    color: #334480;
    font-size: 12px;
}
@media only screen and (min-width: 1024px){
    .padd-cont-cust{
        padding: 0 10%;
    }
}
@media only screen and (min-height: 800px){
    .padd-cont-cust{
        padding: 2rem 10%;
    }
    .tp-sm-nav{
        padding: 1rem;
    }
}
@media only screen and (max-height: 991px){
    .tog-n-cols{
        flex-direction: column;
        justify-content: center;
    }
}
@media only screen and (max-width: 768px){
    .padd-cont-cust {
        padding: 2rem;
    }
    .brand-desk{
        display: none;
    }
    .tog-n-cols{
        align-items: flex-start;
        width: 4rem;
    }
    .navbar-brand{
        width: 100%;
        margin: 0;
        position: relative;
        min-height: 50px;
    }
    .navbar-brand>img{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
}
@media only screen and (min-width: 769px){
    .brand-desk-mob{
        display: none;
    }
}