.foot-menus{
    color: #9fa7b2;
    cursor: pointer;
}
.foot-menus:hover{
    color: #24374e;
}
.foot-menus::after {
    content: "-";
    color: #b9dfff;
    font-weight: 900;
    top: 1px;
    position: relative;
    margin: 0px 10px;
}
.foot-menus:last-child::after {
    content: none;
}