.full-prg{
    padding: 202px 0 3rem 0;
    /* min-height: 100vh; */
}
.prg-crs {
    padding-left: 10%;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    overflow: scroll;
    margin-left: -30px;
}
.prg-crs::-webkit-scrollbar{
	display: none;
}
.prg-crs>img{
    cursor: pointer;
}
.prg-def-cors{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18vw;
    height: 20vh;
    cursor: pointer;
    min-height: 220px;
    margin-left: 30px;
    color: #100F0D;
    font-weight: 600;
    font-size: 20px;
    border: 0.5px solid #E5E5E5;
    color:#5F6163;
    opacity: 0.25;
}
.theimgs{
    /* style={{ minWidth: "15vw", minHeight: "20vh", maxHeight: "220px" }} */
    width:18vw;
    /* min-height:20vh; */
    height: 220px;
}
.theimgs:focus{
    outline: none;
}
.regutaximg{
    margin-top: -14px;
    height: 33px;
    cursor: pointer;
}
.theapply{
    font-size: 26px;
    font-weight: 600;
    opacity: 0.75;
    cursor: pointer;
}
/* .prg-def-cors:nth-child(odd){
    background-color: #E5E5E5;
} */
/* .prg-def-cors:nth-child(even){
} */
.trnd-cont{
    padding: 0 10%;
}
.trnd-cont>div>div>h2{
    font-weight: 700;
    margin-bottom: 2rem;
}
.trnd-cont>div>div>p{
    padding: 0 4rem 0 0;
}
.btns-t, .btns-t-not{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid #E5E5E5;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.btns-t{
    height: 21.9vh;
    margin-bottom: 1rem;
    min-height: 174px;
}
.btns-t-not{
    height: calc(21.9vh - 56px);
    min-height: 100px;
}
.bt-grs{
    background-color: #E5E5E5;
    padding: 1rem 2rem;
    text-align: center;
}
.bt-comb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: calc(77vh - 322px);
}
.themodalimg{
    width: 120px;
    height: 120px;
}
.bt-comb> * {
    width: 100%;
}
.thedisp:focus{
    outline: none;
}
.thefullscrn-btn{
    position: relative;
    margin-top: -360px;
    margin-left: 94%;
    cursor: pointer;
}
.theplayerseek{
    margin-left: 35px;
    width: 91%;
}
.theplayerseek1{
    display: block;
    margin-top: 50px;
    width: 98%;
}
.thepropbtn{
    text-align: center;
    margin-top: -10px;
    background-color: #334480 !important;
    color: white !important;
    font-family: "Montserrat";
}
.theplaypausebtn-sty{
    position: relative;
    margin-left: auto;
    cursor: pointer;
}

@media only screen and (min-width: 1300px){
    .trnd-cont>div>div>p{
        padding: 0 6rem 0 0;
    }
}
@media only screen and (max-height: 800px){
    .full-prg{
        padding: 138px 0 3rem 0;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
    .theapply{
        font-size: 20px;
    }
    .regutaximg{
        margin-top: -10px;
        height: 26px;
    }
}